.GoogleSignInBtn {
    align-items: center;
    align-content: center;
    display: flex;
}
.Splash {
    height: 83vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .footerGradient {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
} */
.bottomGradient {
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    /* background-color: aqua; */
    /* height: 200px; */
        /* background-color: rgba(255, 0, 0, 0); */
        background-image: linear-gradient(#35363a00,#35363a);
}
.splashContent {
    height: 80%;
    width: auto;
    z-index: 1;
}