.trackPage {
    height: calc(100vh - 176.8px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.playTrack {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.playBtn{
    border-radius: 1000px;
}
.waveform {
    width: 80%;
}